<!--Example-->

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-12 text-center m-5">
            <h2 class="mb-3">CONTACTS</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Surname</th>
                        <th>Address</th>
                        <th>Emailaddress</th>
                        <th>Phone number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>Het Laagt 39</td>
                        <td>email@email.com</td>
                        <td>(171) 555-2222</td>
                        <td>
                            <button class="btn btn-success">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>