<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 class="mb-3">Groep aanmaken</h2>

        <form class="login-form">
            <div class="form-group">
                <label for="inputGroupsName">Groepsnaam</label>
                <input type="text" name="groupsname" class="form-control" id="inputGroupsName" aria-describedby="emailHelp" placeholder="Vul naam in" oninput="setCustomValidity('')">
            </div>

            <div class="error mb-3 text-danger"></div>

            <button type="submit" class="btn btn-primary">Groep aanmaken</button>
        </form>
    </div>
</div>
