<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 class="mb-3">Inloggen</h2>

        <form class="login-form">
            <div class="form-group">
                <label for="inputUsername">Gebruikersnaam</label>
                <input type="text" name="username" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Gebruikersnaam">
            </div>
            <div class="form-group">
                <label for="inputPassword">Wachtwoord</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Wachtwoord">
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="check1">
                <label class="form-check-label" for="check1">Onthoud mij</label>
            </div>
            <div class="form-group">
                <a href="#password"><i>Wachtwoord vergeten</i></a>
            </div>

            <div class="error mb-3 text-danger"></div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>