<div class="container">
<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 class="mb-3">Wachtwoord wijzigen</h2>

        <form class="login-form">
            <div class="form-group">
                <label for="inputEmailaddress">Emailadres</label>
                <input type="email" name="emailaddress" class="form-control" id="inputEmailaddress"
                       placeholder="Emailadres" required>
            </div>

            <div class="error mb-3 text-danger"></div>

            <button type="submit" class="btn btn-primary">Verzend</button>
        </form>
    </div>
</div>
</div>