<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 class="mb-3">Account aanmaken</h2>

        <form class="login-form">
            <div class="form-group .needs-validation">
                <label for="inputUsername">Gebruikersnaam</label>
                <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Gebruikersnaam">
            </div>
            <div class="form-group">
                <label for="inputEmailaddress">Emailadres</label>
                <input type="email" name="emailaddress" class="form-control" id="inputEmailaddress"
                       placeholder="Emailadres">
            </div>
            <div class="form-group">
                <label for="inputPassword">Wachtwoord</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Wachtwoord">
            </div>

            <div class="error mb-3 text-danger"></div>

            <button type="submit" class="btn btn-primary">Registreren</button>
        </form>
    </div>
</div>
