
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5 welcome-title"> Welkom bij het [ BENS - 8 ]</h1>
<!--        <p class="lead">Je hebt framework succesvol opgezet als je deze pagina ziet! Happy coding :)</p>-->
<!--        <p>JSON uit backend voorbeeld:</p>-->
<!--        <code class="example-response"></code>-->
    </div>
</div>

<div class="row text-lg-center">
    <div class="col-lg-4 offset-2">
        <br><br>
        <i class="icon fas fa-ambulance fa-7x" ></i><br>
        <p class="title-caption">112</p>
    </div>
    <div class="col-lg-4">
        <br><br>
        <i class="icon fas fa-info fa-7x" ></i><br>
        <p class="title-caption text-uppercase">informatie</p>
    </div>

</div>